
/* ===============
By default we are using the html5 boilerplate css. (http://html5boilerplate.com/)
If you prefer Twitter Bootstrap (http://twitter.github.com/bootstrap/) as your starting point, comment line 9 and uncomment lines 10, 11, 12.
_bootstrap-responsive contains the styles for responsive grids.
_bootstrap.scss contains Twitter Bootstrap's files.
_layout.css is used for your css.
If you use _html5b.scss, _layout.scss is already referenced in there, at line 624, so you don't need to do anything beside adding your styles in layout.scss.
==================*/

@import "html5b";

// @import "bootstrap-responsive";
// @import "bootstrap";
// @import "layout"; 


/* WordPress Required Styles */


.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.sticky {
	background: #f7f7f7;
	padding: 0 10px 10px;
}
	
.sticky h2 {
	padding-top: 10px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

// Use the following mixin to use the IEbox model
// Usage: @import iebox within your classes

@mixin iebox {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}










